services:
  db:
    image: postgres:16-alpine
    container_name: ecomerce_db
    environment:
      POSTGRES_DB: ecomerce
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d ecomerce"]
      interval: 5s
      timeout: 5s
      retries: 10

volumes:
  postgres_data:
